* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #EDF6FF;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #EDF6FF;
  padding: 20px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

nav {
  background-color: #FFFFFF;
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
  position: sticky;
  top: 0;
  z-index: 100;
  display: block;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
}

.header-content {
  padding-top: 50px;
  display: flex; /* Menggunakan flexbox */
  flex-direction: column; /* Mengatur arah flexbox */
  align-items: center; /* Mengatur posisi item di tengah */
}

.foto {
  width: 220px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 204, 153, 0.7); /* Border glow halus warna krem */
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.foto:hover {
  transform: translateY(-5px); /* Efek melayang saat hover */
}

.bio {
  text-align: center; /* Teks di tengah */
}

.intro h1 {
  font-size: 2.5rem;
  color: #437F37;
}

.intro p {
  font-size: 1.1rem;
  max-width: 400px;
}

.client-review {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}

#about {
  background-color: #FFFFFF;
  padding: 50px 0;
  text-align: center;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#about p {
  margin-bottom: 30px; /* Menambahkan jarak antara paragraf dan daftar */
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

#skills {
  background-color: #EDF6FF;
  padding: 50px 0;
  text-align: left;
}

#skills h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.skills-image {
  width: 40%; /* Memperbesar lebar gambar */
  padding-right: 30px; /* Menambah jarak */
}

.skills-image img {
  width: 100%;
  height: auto;
}

.skills-list {
  width: 55%; /* Mengurangi lebar daftar skill */
  margin-left: 30px; /* Menggeser ke kanan */
}

.skill {
  margin-bottom: 20px;
  position: relative;
}

.skill h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.skill-bar {
  height: 6px; 
  background-color: #B9732F;
  border-radius: 3px; 
  position: relative;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #437FC7;
  border-radius: 3px;
}

.skill-percentage {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 5px;
  font-size: 0.8rem; /* Memperkecil ukuran font persentase */
  color: #333;
}

footer {
  background-color: #437FC7;
  text-align: center;
  padding: 20px 0;
}